---
import "../styles/global.css";
const { title, description } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title} · {description}</title>
  </head>
  <body class="bg-black pt-14 text-white selection:bg-red-950">
    <main class="flex flex-col justify-items-center items-center">
      <h1
        class="text-9xl text-red-700 selection:text-white font-bold font-fsex mb-10 mr-2.5"
      >
        {title}
      </h1>
      <slot />
    </main>
  </body>
</html>
